{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-proposal-optional-chaining"],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "ignore": ["node_modules/**/*", "src/test.js"]
}
