{
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["plugin:prettier/recommended", "airbnb-base"],
  "plugins": ["prettier", "import"],
  "parserOptions": {
    "sourceType": "module"
  }
}
